antlr/xylang/packages/
antlr/xylang/.vs/
antlr/xylang/xylang/bin/
antlr/xylang/xylang/obj/
antlr/coral/.vs/
antlr/coral/coral/bin/
antlr/coral/coral/obj/
antlr/coral/packages/
Compiler/.vs/
Compiler/Compiler/bin/
Compiler/Compiler/obj/
Library/.vs/
Library/Shared/bin/
Library/Shared/obj/
