antlr/xylang/.vs/
antlr/xylang/xylang/obj/
antlr/xylang/xylang/bin/Debug/netcoreapp2.0/Example/
antlr/xylang/xylang/bin/Debug/netcoreapp2.0/TensorFlow/
antlr/xylang/xylang/bin/Debug/netcoreapp2.0/XyNote/
antlr/xylang/xylang/bin/Release/netcoreapp2.0/xylang.runtimeconfig.json
antlr/xylang/xylang/bin/Release/netcoreapp2.0/xylang.runtimeconfig.dev.json
antlr/xylang/xylang/bin/Release/netcoreapp2.0/xylang.pdb
antlr/xylang/xylang/bin/Release/netcoreapp2.0/xylang.dll
antlr/xylang/xylang/bin/Release/netcoreapp2.0/xylang.deps.json
antlr/xylang/xylang/bin/Debug/netcoreapp2.0/xylang.runtimeconfig.json
antlr/xylang/xylang/bin/Debug/netcoreapp2.0/xylang.runtimeconfig.dev.json
antlr/xylang/xylang/bin/Debug/netcoreapp2.0/xylang.pdb
antlr/xylang/xylang/bin/Debug/netcoreapp2.0/xylang.dll
antlr/xylang/xylang/bin/Debug/netcoreapp2.0/xylang.deps.json
antlr/xylang/xylang/bin/Release/netcoreapp2.0/xy.cmd
Library/.vs/
Library/Shared/bin/
Library/Shared/obj/
antlr/xylang/xylang/bin/
