* text=auto eol=lf

*.exe binary
*.dll binary
*.so binary
*.dylib binary
*.a binary
*.lib binary

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.webp binary
*.ico binary
*.pdf binary
*.zip binary
*.gz binary
*.tar binary